*{
	user-select: none;
}
body{
	font-size: 16px;
	color: #FECEA8;
	background-color: #2A353B ;
	font-family: 'Oxygen', sans-serif;
}

/** HEADER **/

#header-nav{
	background-color: #E84A5F;
	border-radius: 0px;
	border: 0px;
	margin-bottom: 10px;
}

.navbar-brand{
	padding-top: 0px;
	margin-bottom: 10px;
}

.navbar-brand h1{
	font-family: 'Lora', serif;
	color: #FECEA8;
	text-shadow: 2px 2px 2px #2A353B;
	font-size: 1.9em;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 15px;
}

.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}

#nav-list{
	margin-top: 4px;
	margin-bottom: 0px;
	border-top: 3px dashed #2A353B;
	border-bottom: 3px dashed #2A353B;
}

#nav-list a{
	color: #2A353B;
	text-align: center;
}

#nav-list a:hover {
	/*background-color:#FF847B ;*/
	background-color: #FECEA8;
}

#nav-list a span{
	font-size: 1.8em;
	font-weight: 700;
}

#nav-list li{
	margin-top: 5px;
	margin-bottom: 5px;
}

hr.dotted {
  border-top: 2px dotted #bbb;
  width: 50%;
  margin-top: 0px;
  margin-bottom: 0px;}

.navbar.navbar-default .navbar-collapse {
	border: none;
	box-shadow: none;

}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border: 1px solid #FECEA8;
}

.navbar-header button.navbar-toggle{
	position: relative;
	top: 5px;
	right: 0px;
}


/* END HEADER*/

/* HOME PAGE */

#Chicken-tile, #Beef-tile, #Sushi-tile{
	border: 2px solid black;
	width: 100%;
	margin-bottom: 15px;
	margin-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	background-color: #E84A5F;
	/*color: #2A353B ;*/
	color: black;
	position: relative;
}

/*#Chicken-tile:hover, #Beef-tile:hover, #Sushi-tile:hover{
	box-shadow: 0 1px 5px 1px #FECEA8;
}*/

#home-tiles{
	margin-right: 2vw;
	margin-left: 2vw;
}



h2{
    color: #FECEA8;

}
h2 a, a:hover {
    text-decoration: none;
    color: #FECEA8;
}

/*h2 a:hover{
	text-decoration: none;
    color: #FECEA8;
}*/

/*#Chicken-tile1{
	background-image: url(../Images/sushi.jpg);
	background-position: center;
	background-size: 70%;
	background-repeat: no-repeat;
}*/

div.Chicken-image {
   content:url("../Images/chicken3.jpg");
   width: 90%;
   margin: 15px;}


div.beef-image{
 content:url("../Images/beef.jpg");
   width: 90%;
   margin: 15px;
}

div.sushi-image{
content:url("../Images/sushi.jpg");
   width: 90%;
   margin: 15px;
}

h3.text-center{
	font-weight: 700;
	color: #FECEA8;
	background-color: #2A353B ;
	width: 100px;
	height: 30px;
	margin-right: auto;
	margin-left: auto;
}

a.backtop{
	text-decoration: none;
	color: #FECEA8;

}